* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
}

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.bg-image {
  z-index: -1;
  width: 100vw;
/*   height: 100vh; */
  object-fit: cover;
  position: absolute;
  filter: blur(4px);
  transform: scale(1.5);
}


.image-view {
  display: block;
  width: 65%;
  aspect-ratio: 16/9;
  object-fit: cover;
  margin-inline:  auto;
}
.image-slider {
  display: flex;
  background-color: rgba(0,0,0,.5);
  width: 400px;
  margin-inline: auto;
  border-radius: .5rem;
  padding-block: .5rem;
  margin-top: .5rem;
}
.image-wrapper{
  display: flex;
  gap:  1rem;
/*   justify-content: center; */
  width: 80%;
  overflow: scroll;
  margin: auto;
  scroll-behavior: smooth;

}

.image-wrapper button {
  border: none;
  height: max-content;
  outline: none;
  aspect-ratio: 1/1;
  border-radius: .3rem;
}

.image-wrapper img {
  width: 5rem;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#active-image {
  border :  5px solid coral;
}

.icon-arrow {
  width: 2rem;
  margin: .5rem;
  fill :  white;
  cursor: pointer;
  transition: all .3s linear;
  stroke: transparent;
}

.icon-arrow:hover {
  stroke: white;
}

@media screen and (max-width: 600px) {
    main {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
    }
    .image-slider {
      width: 70%;
    }  

    .image-wrapper img {
      width: 3rem;
    }
}